.profile__user-foto {
  margin: 0;
  padding: 0;
  min-width: 120px;
  background-image: url(../../../images/avatar.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: flex;
  border-radius: 50%;
  border-style: none;
}

.profile__user-foto::after {
  content: "";
  margin: 0;
  padding: 0;
  padding-top: 100%;
}

